

<!DOCTYPE html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-9659614920434986" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>FootballExclusive : Live Scores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=Football, Football Exclusive, Football News, Football Transfer News />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- light-box -->
    <link rel="stylesheet" href="/css/lightbox.css">
    <!-- //light-box -->
    <!-- <script src="js/SmoothScroll.min.js"></script> -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

</head>
<body>
<!-- banner -->
<div class="banner">
    <div class="banner-dot">
        <!-- header-top -->
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <h1><a href="/">Football  <span>Exclusive</span></a></h1>
                </div>
                <div class="header-middle">
                    <ul>
                        <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>NA</li>
                        <li><a href="mailto:thefootballexclusiveorg@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>thefootballexclusiveorg@gmail.com</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="search">
                        <form action="#" method="post">
                            <input type="search" name="Search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //header-top -->
        <!--header-->

        <div class="header">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/" >Home</a></li>
                            <li><a href="/polls">Polls</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
        </div>
        <!--//header-->
        <!-- banner-info -->
        <!-- //banner-info -->

        <script type="text/javascript" src="https://widget.enetscores.com/FW3FE5F04E90FC2EE5"></script>
    </div>
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome" id="about">

</div>
<!-- //welcome -->
<!-- footer -->

<div class="agileits-w3layouts-footer">
    <div class="container">
        <div class="agile-copyright">
            <p>© 2020 FootballExclusive. All rights reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
        </div>
    </div>
</div>
<!-- //footer -->
<script src="/js/jarallax.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>

<script src="/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">

    $(document).ready(function() {
        setInterval(function () {
            $('.wff_bottom_banner_styles').hide();
            $('.wff_floating_banner_styles').hide();
            $('.wff_link_container').hide();
            $('.wff_link_enetscores').hide();
            $('.wff_link_enetpulse').hide();
        },1000)
    });

</script>
<!-- //here ends scrolling icon -->
</body>

</html>